@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: glitch;
}
@font-face {
    font-family: glitch;
    src: url(big_noodle_titling.ttf);
}
.slideshow{
    width: 100vw;
    height: 100vh;
    background-image: url(img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.sliders{
    height: 100%;
    width: 300vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100vw);
    transition: all 1s;
}
.txt1, .txt2, .txt3{
    width: 700px;
    height: 700px;
    color: white;
}
.slide-butons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 100vw;
    transform: translateY(-50px);
}
#slidebar1, #slidebar2, #slidebar3{
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.765);
}
.open{
    background-color: white;
    
}
/*---------------------------------PRIMEIRA SLIDE CONFIGURAÇAO-------------------------------*/

.txt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.title1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title1 h2{
    font-family: glitch;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.612);
    font-size: 90px;
}
.section-1{
    display: flex;
    flex-direction: row;
    flex: 2;
    width: 600px;
}
.clock-mode-img{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-mode-img img{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    transform: rotate(0deg);
    transition: all 0.3s;
}
.clock-mode-txt{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clock-mode-txt h2, .timer-mode-txt h2{
    font-size: 60px;
    color: white;
}
.section-1-2{
    display: flex;
    flex-direction: row;
    flex: 2;
    width: 600px;
}
.timer-mode-img{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.timer-mode-img span{
    font-size: 150px;
    font-weight: 600;
    color: orange;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.79);
}
.timer-mode-txt{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clock-mode-txt h2, .timer-mode-txt h2{
    font-size: 60px;
    color: white;
}
/*---------------------------------SEGUNDA SLIDE CONFIGURAÇAO-------------------------------*/
.txt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock-mode-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.clock-mode-img img{
    height: 150px;
    width: 150px;
}
.clock-mode-title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.clock-mode-title h2{
    font-size: 100px;
    padding-top: 50px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.749);
}
.clock-mode-description{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.clock-mode-description p{
    text-align: justify;
    padding: 15px;
    font-size: 25px;
}
.clock-mode-description a{
    width: 200px;
    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.341);
    padding: 10px;
    border: none;
    opacity: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.275);
    transition: all 0,3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);

}
.clock-mode-description a:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.267);
    transform: translate(1px, 1px);
    transition: all 0,3s;
}
/*---------------------------------TERCEIRA SLIDE CONFIGURAÇAO-------------------------------*/
.txt3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer-mode-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timer-mode-title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.timer-mode-title h2{
    font-size: 100px;
    padding-top: 50px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.749);
}
.timer-mode-description{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.timer-mode-description p{
    text-align: justify;
    padding: 15px;
    font-size: 25px;
}
.timer-mode-description a{
    width: 200px;
    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.341);
    padding: 10px;
    border: none;
    opacity: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.275);
    transition: all 0,3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);

}
.timer-mode-description a:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.267);
    transform: translate(1px, 1px);
    transition: all 0,3s;
}
/*---------------------------------Media Query-------------------------------*/
/*---------------------------------Media Query-------------------------------*/
/*---------------------------------Media Query-------------------------------*/
@media(max-width:950px){
    .title1 h2{
        font-size: 80px;
    }
    .timer-mode-img span{
        font-size: 140px; 
    }
    .clock-mode-txt h2{
        font-size: 73px;
    }
    .timer-mode-txt h2{
        font-size: 73px;
    }
}
@media(max-width:750px){
    .title2 h2, .title3 h2{
        font-size: 80px;
    }
    .clock-mode-description,  .timer-mode-description{
        width: 600px;
    }
    .clock-mode-description p,  .timer-mode-description p{
        text-align: center;
    }
}
@media(max-width:650px){
    .txt1, .txt2, .txt3{
        width: 500px;
        height: 650px;
        color: white;
    }
    .section-1{
        width: 500px;
    }
    .clock-mode-img img{
        width: 120px;
        height: 120px;
    }
    .section-1-2{
        width: 500px;
    }
    .timer-mode-img span{
        font-size: 100px;
    }
    .clock-mode-description{
        padding:50px;
    }
    .clock-mode-description p{
        padding: 0;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .timer-mode-description{
        padding:50px;
    }
    .timer-mode-description p{
        padding: 0;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:550px){
        .txt1, .txt2, .txt3{
            width: 450px;
        }
        .section-1{
            width: 400px;
        }
        .title1 h2{
            font-size: 50px;
        }
        .clock-mode-txt h2{
            font-size: 40px;
        }
        .section-1-2{
            width: 300px;
        }
        .timer-mode-img span{
            font-size: 100px;
        }
        .timer-mode-txt h2{
            font-size: 40px;
        }
        .clock-mode-title h2{
            font-size: 50px;
        }
        .clock-mode-description{
            width: 350px;
        }
        .clock-mode-description p{
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        .title3 h2{
            font-size: 65px;
        }
        .timer-mode-description{
            width: 350px;
        }
        .timer-mode-description p{
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
}
@media(max-width:420px){
    .txt1, .txt2, .txt3{
        width: 300px;
        height: 550px;
        color: white;
    }
    .section-1{
        width: 350px;
    }
    .title1 h2{
        font-size: 40px;
    }
    .clock-mode-txt h2{
        font-size: 30px;
    }
    .section-1-2{
        width: 300px;
    }
    .timer-mode-img span{
        font-size: 100px;
    }
    .timer-mode-txt h2{
        font-size: 30px;
    }
    .clock-mode-title h2{
        font-size: 50px;
    }
    .clock-mode-description{
        width: 350px;
    }
    .clock-mode-description p{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .title3 h2{
        font-size: 65px;
    }
    .timer-mode-description{
        width: 350px;
    }
    .timer-mode-description p{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    @media(max-width:400px){
    .section-1, .section-1-2{
        width: 280px;
    }
    .title3 h2{
        font-size: 60px;
    }
    }
}
